[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.166"
botocore = "==1.12.166"
certifi = "==2019.6.16"
chardet = "==3.0.4"
docutils = "==0.14"
idna = "==2.8"
jmespath = "==0.9.4"
python-dateutil = "==2.8.0"
requests = "==2.22.0"
retrying = "==1.3.3"
s3transfer = "==0.2.1"
simplekml = "==1.3.1"
six = "==1.12.0"
urllib3 = "==1.25.3"

[dev-packages]

[requires]
python_version = "3.10"
